[user]
  name = Tim W James
  email = 38764646+Tim-W-James@users.noreply.github.com
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[alias]
  st = status -sb
  lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset' -20
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative) %(color:red)%(authorname) %(color:white)%(color:bold)%(refname:short)\"
  branches-remote = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative) %(color:red)%(authorname) %(color:white)%(color:bold)%(refname:short)\" refs/remotes
  dsf = diff --color
  staged = diff --name-only --cached
  unstage = reset HEAD
  uncommit = reset --soft HEAD^
  camend = commit --amend -m
  amend-message = commit --amend -m
  amend-files = commit --amend --no-edit
  discard = stash push
  undiscard = stash pop
  remote-add = remote add origin
  upstream-add = remote add upstream
  upstream-merge = !git fetch upstream && git merge upstream/main
  credentials-cache = config --global credential.helper cache -timeout=3600 
  credentials-store = config --global credential.helper store
  br = branch
  brn = checkout -b
  branch-new = brn
  brd = branch -D
  branch-del = brd
  aa = add --all
  ap = add --patch
  ci = commit
  cim = commit -m
  ac = commit -am
  acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
  co = checkout
  pbranch = checkout -
  main = !git checkout main && git fetch
  master = !git checkout master && git fetch
  pull-force = !git discard && git pull
  pull-combine = !git pull-force && git undiscard
  clr = rm -r --cached
  d = diff -w
  dc = diff --cached
  nb = checkout -b
  r = remote -v
  repo = r
  fresh = reset --hard
  fresh-clean = !git reset --hard && git clean -fd
[init]
  defaultBranch = main
[core]
  editor = code --wait
  # pager = diff-so-fancy | less --tabs=4 -RFX
[push]
  default = current
[credential]
  helper = store
# requires diff-so-fancy plugin: brew install diff-so-fancy
# [interactive]
#   diffFilter = diff-so-fancy --patch
# [color]
#   ui = true
# [color "diff-highlight"]
#   oldNormal = red bold
#   oldHighlight = red bold 52
#   newNormal = green bold
#   newHighlight = green bold 22
# [color "diff"]
#   meta = 11
#   frag = magenta bold
#   func = 146 bold
#   commit = yellow bold
#   old = red bold
#   new = green bold
#   whitespace = red reverse